<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Post 19 April</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1>Quora Posts</h1>
        <% for(post of posts){ %>
        <div class="post">
            <h3 class="user">@<%= post.username %></h3>
            <h4 class="content"><%= post.content %></h4>
            <a href="http://localhost:3000/posts/<%= post.id %>"> See in
                detail</a>
                <a href="http://localhost:3000/posts/<%=post.id%>/edit">Edit</a>
            <br><br>
            <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                <button>Delete Your Post</button>
            </form>
            <br>
        </div>
        <% } %>
        <br><br><br>
        <a href="http://localhost:3000/posts/new">Create new post</a>
    </body>
</html>